body {
    background-image: url('https://imgur.com/3m6d7Qt.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    background-color: rgba(255, 255, 255, 0.5);
}

span {
    font-style: italic;
}

.artist-list {
    font-family: 'Bree Serif', sans-serif;
    grid-area: A;
    text-align: center;
}


.parent {
    display: grid;
    grid-template-areas:
    "H H H H"
    "L L L L"
    "R R R R"
    "N N N N"
    "A A A A"
    "F F F F"
}

#one {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 40px;
    text-align: center;
    grid-area: H;
}

#two {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    text-align: center;
    grid-area: L;
}

#three {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    text-align: center;
    grid-area: R;
}

#four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    grid-area: N;
  }

#blank {
    height: 30px;
    font-size: 14pt;
    grid-area: N;
}