* {
    box-sizing: border-box;
}

a:link a:visited {
    color: lightpink;
    font-size: 20px;
}

a:hover, a:active {
    background-color: #666;
    color: lightpink;
}

body {
    background-image: url('https://imgur.com/3m6d7Qt.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    align-content: center;
    background-color: rgba(255, 255, 255, 0.5);
}

header {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 80px;
    text-align: center;
}

nav {
    background-color: rgba(255, 255, 255, 0.5);
    color: lightpink;
    display: flex;
    font-family: 'Luckiest Guy', sans-serif;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
}

span {
    font-weight: bold;
}

.artist-list {
    font-family: 'Bree Serif', sans-serif;
    text-align: center;
    grid-area: A;
}

.footer {
    display: flex;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 25px;
    justify-content: center;
    padding: 15px;
    grid-area: F;
}

.parent {
    display: grid;
    grid-template-areas:
    "H H H H"
    "L L L L"
    "R R R R"
    "A A A A"
    "P P P P"
    "F F F F"
}

#one {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
    grid-area: H;
}

#two {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
    grid-area: L;
  }

#three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    grid-area: R;
}

#blank {
    height: 30px;
    font-size: 14pt;
    grid-area: A;
    text-align: center;
}

#contact {
    color: lightpink;
}

#contact:hover, active {
    background-color: #666;
}

#contactForm {
    display: none;

    background-color: white;
    border: 5px solid #88d8c0;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    width: 450px;
}

#form {
    font-family: 'Raleway';
    font-weight: inherit;
    font-size: inherit;
    margin: .8em auto;

    display: block;
    width: 300px;
    padding: .4em;
}

textarea {
    font-family: 'Raleway';
    font-weight: inherit;
    font-size: inherit;
    margin: .8em auto;

    display: block;
    height: 80px;
    width: 300px;
    padding: .4em;
}

.submitButton {
    background: lightpink;
    color: white;
    display: inline-block;
    font-size: 14px;
    height: 30px; 
    width: 150px;
}

#info-container {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
    grid-area: P;
}

@media screen and (max-width: 450px) {
    * {
        font-family: arial;
    }
    body {
        background-color: grey;
    }
}