* {
}
a:link a:visited {
    color: lightpink;
    font-size: 20px;
}

a:hover, a:active {
    background-color: lightpink;
    color: white;
    padding: 10px;
    font-size: 15px;
}

body {
    background-image: url('https://imgur.com/3m6d7Qt.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: auto;
    padding: 5px;
}
div {
    align-content: center;
    background-color: rgba(255, 255, 255, 0.5);
}

header {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 100px;
    text-align: center;
}

nav {
    background-color: white;
    color: lightpink;
    display: flex;
    font-family: 'Luckiest Guy', sans-serif;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
}

span {
    font-weight: bold;
}

.artist-list {
    font-family: 'Bree Serif', sans-serif;
    text-align: center;
    grid-area: A;
}


.parent {
    display: grid;
    grid-template-areas:
    "H H H H"
    "L L L L"
    "R R R R"
    "N N N N"
    "A A A A"
    "F F F F"
}

#one {
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    text-align: center;
    grid-area: H;
}

#two {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    text-align: center;
    grid-area: L;
}

#three {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    text-align: center;
    grid-area: R;
}

#four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    grid-area: N;
  }

#blank {
    height: 30px;
    font-size: 14pt;
    grid-area: N;
    text-align: center;
}

#info-container {
    font-family: 'Kaisei HarunoUmi', sans-serif;
    text-align: center;
}

@media screen and (max-width: 450px) {
    div {
        background-color: rosybrown;
        font-family: arial;
    }
}